[MODEL]

in = 43
linear_out = 20
cell = GRU
num_layers = 2
alphabet_size = 20
hidden_size = 400
bidirectional = 1
dropout = 0.5

[TRAINING]

train_path = C:\Users\Donik\Downloads\casp7\casp7\training_90
validation_path = C:\Users\Donik\Downloads\casp7\casp7\validation
test_path = C:\Users\Donik\Downloads\casp7\casp7\testing
epochs = 5
log_interval = 1
batch_size = 8
optimizer = Adam
loss = dRMSD
lr = 9e-2
