[MODEL]

in = 43
linear_out = 20
cell = GRU
num_layers = 2
alphabet_size = 20
hidden_size = 500
bidirectional = 1
dropout = 0.5

[TRAINING]

train_path = ../casp7/training_90
validation_path = ../casp7/validation
test_path = ../casp7/testing
epochs = 5
log_interval = 1
batch_size = 32
optimizer = SGD
loss = dRMSD
lr = 7e-4
